*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}


nav ul li {
  font-size: 180%;
  display: inline;
  padding: 10px
}
nav ul li a {
  color: #6991ac;
  text-decoration: none;
}
a:hover{
  color: #c3d7df;
}
body {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
